<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book Cleared!</h1>

    <form action="/" method="get">
      <button type="submit">Return to main page</button>
    </form>
  </body>
</html>
