<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>You created a contact!</h1>
    <ul>
      <h2>Name: @Model.GetName()</h2>
      <h2>Address: @Model.GetAddress()</h2>
      <h2>Phone Number: @Model.GetPhoneNumber()</h2>
    </ul>
    <br>
    <br>
      <a href="/address_book_view">View all contacts in address book</a>
      <a href="/">Return to Home</a>
  </body>
</html>
