<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book</h1>

    <form action="/address_book_view" method="get">
      <button type="submit">View all contacts</button>
    </form>
    <br>
    <br>
    <form action="/address_book_add" method="get">
      <button type="submit">Add a new contact</button>
    </form>

  </body>
</html>
